{% extends 'base.html' %}

{% block main %}
    <h1>Atualize o recebimento da entrega OE/{{ entrega.id }}</h1>
    <div class="row mt-3 justify-content-center">
        <div class="col-3">
            <form class='form' action="{% url 'Atualizar_entrega' entrega.id %}" method="POST">
            {% csrf_token %}
            <li class="list-group-item form-check form-switch ms-5">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" action="{{ form.status }}
                <label class="form-check-label" for="flexSwitchCheckDefault">Morador retirou a entrega?</label>
            </li>
            <button class='btn btn-outline-primary mt-2' type='submit'>Atualizar</button>
        </div>
    </div>
    
    <div class="row mt-5 justify-content-center">
        <div class="col-6">
            <ul class="list-group">
                <p>Informações da ordem de entrega</p>
                <li class="list-group-item">Ordem de entrega: OE/{{ entrega.id }}</li>
                <li class="list-group-item">Última Atualização: {{ entrega.data_entrada }}</li>
                <li class="list-group-item disabled">Nota Fiscal ou Identificador: {{ form.nota_fiscal }}</li>
                <li class="list-group-item dropdown-item disabled">Casa ou Apartamento: {{ form.casa }}</li>
                <li class="list-group-item disabled">Local de armazenagem: {{ form.modulo }}</li>
                <li class="list-group-item disabled">Recebido por: {{ form.recebido_por }}</li>
            </ul>
        </div>
    </div>
    </form>
{% endblock %}