{% extends 'base.html' %}

{% block main %}
  <h1 class="mt-5 m-3">Lista de entregas registradas</h1>
    <table class="table m-3">
        <thead>
          <tr>
            <th scope="col">OE</th>
            <th scope="col">Atualização</th>
            <th scope="col">Nota Fiscal</th>
            <th scope="col">Morador</th>
            <th scope="col">Prateleira</th>
            <th scope="col">Responsável</th>
            <th scope="col">Retirada?</th>
          </tr>
        </thead>
        <tbody>
          {% for entregas in entregas %}
          <tr>
            <td>OE/{{ entregas.id }}</td>
            <td>{{ entregas.data_entrada }}</td>
            <td>{{ entregas.nota_fiscal }}</td>
            <td>{{ entregas.casa }}</td>
            <td>{{ entregas.modulo }}</td>
            <td>{{ entregas.recebido_por }}</td>
            <td>
              {% if entregas.status == False %}
                <a class="btn btn-danger" href="{% url 'Atualizar_entrega' entregas.id %}" {{ entregas.status }}>Não</a>
              {% else %}
                <a class="btn btn-success" href="{% url 'Atualizar_entrega' entregas.id %}" {{ entregas.status }}>Sim</a>
              {% endif %}
              </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

{% endblock %}
