{% extends 'base.html' %}

{% block main %} 
<div class="container">
  <div class="row">
      <div class="col-8">
        <h1 class="title mt-5"> Sistema de registro de entregas e correspondências da Basson</h1>
        <h4>Para começar, clique em uma das opções abaixo:</h4>
        <a href="{% url 'Nova' %}"><button type="button" class="btn btn-primary mt-3">Cadastrar uma nova entrega</button></a>
        <a href="{% url 'Entregas'  %}"><button type="button" class="btn btn-outline-primary mt-3">Consultar entregas cadastradas</button></a>
      </div>
    <div class="col-4 mt-3 align-self-center">
      <div class="card " style="width: 18rem;">
        <img class="card-img-top mt-3" src="https://chart.googleapis.com/chart?cht=qr&chl=http%3A%2F%2F127.0.0.1%3A8000%2Fcadastro%2F&chs=180x180&choe=UTF-8&chld=L|2" alt="">
          <div class="card-body">
            <p>Aponte o celular para a imagem.</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}