{% extends 'base.html' %}

{% block main %}
<div class="row mt-5">
    <div class="col shadow-sm m-3">
        <p class="pt-4">Quantidade de entregas cadastradas</p>
        <h1 class="pb-3">450</h1>
    </div>
    <div class="col shadow-sm m-3">
        <p class="pt-4">Quantidade de entregas RETIRADAS</p>
        <h1 class="pb-4">200</h1>
    </div>
    <div class="col shadow-sm m-3">
        <p class="pt-4">Quantidade de entregas ATRASADAS</p>
        <h1 class="pb-4">14</h1>
    </div>
</div>
<div class="row">
    <div class="col shadow-sm m-3 pt-4">
        <p>Acompanhamento mensal - Recebidas e ENTREGUES</p>
    </div>
    <div class="col shadow-sm m-3 pt-4">
        <p>Acompanhamento mensal - Recebidas e ATRASADAS</p>
    </div>
</div>


{% endblock %}